<footer>
	<div class="content-padding">
		<div class="footer-content">
			<p>Nhà sách Nhân Dân - 2017</p>
			<div class="social-media-icons">
				<a href="https://www.facebook.com/WindyDang26">
					<i class="fa fa-facebook"></i>
				</a>
				<a href="https://www.facebook.com/WindyDang26">
					<i class="fa fa-twitter"></i>
				</a>
			</div>
		</div>
	</div>
</footer>